<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Insure</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://kit.fontawesome.com/a8a1b78f76.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="left"></div>
        <div class="center">
            <div class="nav-logo">
                <div class="logo">
                    <img src="./Images/WE INSURE.jpg" alt="WE INSURE">
                </div>
                <div class="nav">
                    <ul>
                        <li class="nav-cont">
                            <a href="#">Insurance Products</a>
                        </li>
                        <li class="nav-cont">
                            <a href="#">Renew</a>
                        </li>
                        <li class="nav-cont">
                            <a href="#">Claim</a>
                        </li>
                        <li class="nav-cont">
                            <a href="#">Support</a>
                        </li>
                        <li class="nav-cont">
                            <button type="button">Sign In</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right"></div>
        <div class="content">
            <h1><br><br>
                FIND THE <br> <span id="head"> BEST INSURANCE POSSIBLE </span>
            </h1><br><br>
            <div class="icons">
                <div class="cost-icon">
                    <img src="./Images/Untitled design.jpg" alt="cost" class="cost-image">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="icon-info">Insurance with <br> minimum premium</span>
                </div>
                <div class="cost-icon">
                    <img src="./Images/Untitled design (2).jpg" alt="lightning" class="cost-image light">
                    <span class="icon-info" id="light-icon">Hustle Free, Quick <br> and Easy!</span>
                </div>
            </div>
            <div class="insurances">
                <div class="insure-icon-with-konsa">
                    <div class="insure-type-icon">
                        <img src="./Images/house.png" alt="house" class="insure-icon" id="house">
                        <marquee class="insure-icon-text">Upto 15% discount</marquee>
                    </div>
                    <p>Home Insurance</p>
                </div>
                <div class="insure-icon-with-konsa">
                    <div class="insure-type-icon">
                        <img src="./Images/Heart.png" alt="heart" class="insure-icon">
                        <marquee class="insure-icon-text">Cashless Anywhere</marquee>
                    </div>
                    <p>Health Insurance</p>
                </div>
                <div class="insure-icon-with-konsa">
                    <div class="insure-type-icon">
                        <img src="./Images/Aeroplane.png" alt="aeroplane" class="insure-icon">
                        <!-- <span class="insure-icon-text">Cashless Anywhere</span> -->
                    </div>
                    <p>Travel Insurance</p>
                </div>
                <div class="insure-icon-with-konsa">
                    <div class="insure-type-icon">
                        <img src="./Images/Investment.png" alt="investment" class="insure-icon">
                        <marquee class="insure-icon-text">New Funds Launch</marquee>
                    </div>
                    <p>Investment Plans</p>
                </div>
                <div class="insure-icon-with-konsa">
                    <div class="insure-type-icon">
                        <img src="./Images/Car.png" alt="car" class="insure-icon">
                        <marquee class="insure-icon-text">Upto 70% Discount</marquee>
                    </div>
                    <p>Car Insurance</p>
                </div>
                <div class="insure-icon-with-konsa">
                    <div class="insure-type-icon">
                        <img src="./Images/Scooter.png" alt="scooter" class="insure-icon" id="scoot">
                        <!-- <marquee class="insure-icon-text">Upto 70% Discount</marquee> -->
                    </div>
                    <p>2 Wheeler Insurance</p>
                </div>
                <div class="insure-icon-with-konsa">
                    <div class="insure-type-icon">
                        <img src="./Images/old.png" alt="oldCouple" class="insure-icon" id="scoot">
                        <!-- <marquee class="insure-icon-text">Upto 70% Discount</marquee> -->
                    </div>
                    <p>Retirement Plans</p>
                </div>
            </div>
            <div class="insurances" id="insure-two">
                <div class="insure-icon-with-konsa">
                    <div class="insure-type-icon">
                        <img src="./Images/family.png" alt="family" class="insure-icon">
                        <marquee class="insure-icon-text">Upto 25% discount</marquee>
                    </div>
                    <p>Family Health Insurance</p>
                </div>
                <div class="insure-icon-with-konsa">
                    <div class="insure-type-icon">
                        <img src="./Images/Umbrella.png" alt="umbrella" class="insure-icon" id="umb">
                        <marquee class="insure-icon-text">Upto 15% discount</marquee>
                    </div>
                    <p>Term Life Insurance</p>
                </div>
                <div class="insure-icon-with-konsa">
                    <div class="insure-type-icon">
                        <img src="./Images/pet.png" alt="pet" class="insure-icon" id="pet">
                        <!-- <marquee class="insure-icon-text">Upto 15% discount</marquee> -->
                    </div>
                    <p>Pet Insurance</p>
                </div>
                <div class="insure-icon-with-konsa">
                    <div class="insure-type-icon">
                        <img src="./Images/corporate.png" alt="corporate" class="insure-icon">
                        <!-- <marquee class="insure-icon-text">Upto 15% discount</marquee> -->
                    </div>
                    <p>Corporate Insurance</p>
                </div>
                <div class="insure-icon-with-konsa">
                    <div class="insure-type-icon">
                        <img src="./Images/shop.png" alt="shop" class="insure-icon">
                        <!-- <marquee class="insure-icon-text">Upto 15% discount</marquee> -->
                    </div>
                    <p>Shop Owner Insurance</p>
                </div>
                <div class="insure-icon-with-konsa">
                    <div class="insure-type-icon">
                        <img src="./Images/marine.png" alt="umbrella" class="insure-icon">
                        <!-- <marquee class="insure-icon-text">Upto 15% discount</marquee> -->
                    </div>
                    <p>Marine Insurance</p>
                </div>
                <div class="insure-icon-with-konsa">
                    <div class="insure-type-icon">
                        <img src="./Images/cyber.png" alt="umbrella" class="insure-icon">
                        <!-- <marquee class="insure-icon-text">Upto 15% discount</marquee> -->
                    </div>
                    <p>Cyber Insurance</p>
                </div>
            </div>
            <div class="view-all">
                <button type="button" id="viewbutt" onclick="displayFunc()">View All Products</button>
            </div>
            <div class="also-buy">
                <h4>ALSO BUY</h4>
                <div class="also-buy-prod-one">
                    <div class="prod">
                        <span class="term">
                            Investment
                        </span>
                        LIC Plans
                    </div>
                    <div class="prod">
                        <span class="term">
                            Term Life
                        </span>
                        Return of Premium
                    </div>
                    <div class="prod">
                        <span class="term">
                            Term Life
                        </span>
                        Life Insurance for Housewives
                    </div>
                    <div class="prod">
                        <span class="term term-health">
                            Health Insurance
                        </span>
                        Day 1 Coverage
                    </div>
                    <div class="prod">
                        <span class="term term-health">
                            Health Insurance
                        </span>
                        1 Cr Health Insurance
                    </div>
                    <div class="prod">
                        <span class="term term-health">
                            Health Insurance
                        </span>
                        Unlimited Restoration of Cover
                    </div>
                </div>
                <div class="also-buy-prod-two">
                    <div class="prod">
                        <span class="term term-health">
                            Health Insurance
                        </span>
                        Personal Accident
                    </div>
                    <div class="prod">
                        <span class="term term-bus">
                            Business Insurance
                        </span>
                        Marine Insurance
                    </div>
                    <div class="prod">
                        <span class="term term-bus">
                            Business Insurance
                        </span>
                        Professional Indemnity for Doctors
                    </div>
                    <div class="prod">
                        <span class="term term-bus">
                            Business Insurance
                        </span>
                        Directors and Officers Liability
                    </div>
                    <div class="prod">
                        <span class="term term-bus">
                            Business Insurance
                        </span>
                        Workmen Compensation
                    </div>
                    <div class="prod">
                        <span class="term term-other">
                            Others
                        </span>
                        Pet Insurance
                    </div>
                </div>
            </div>
            <div class="after-also">
                <div class="cards">
                    <div class="card card-one">
                        <div class="card-data">
                            <span>Home Insurance</span>
                            <p>
                                <span>₹50 Lakh Cover</span> for Your <br> Home Insurance starting <br> at Just <span>₹80/month</span>
                            </p>
                        </div>
                    </div>
                    <div class="card card-two">
                        <div class="card-data">
                            <span>Health Insurance</span>
                            <p>
                                <span>1 Crore <br> Health Coverage <br> </span> now cheaper than 5 lacs
                            </p>
                        </div>
                    </div>
                    <div class="card card-three">
                        <div class="card-data">
                            <span>Ask We Insure</span>
                            <p>
                                Got a <span>Question <br> about Insurance</span> <br> <span id="write-us"> Write to us </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four-rect" id="four-rect">
                <div class="questn">
                        <p>Why</p>
                        <p><span>WE INSURE</span> is one of</p>
                        <p><span>India's favorite places</span></p>
                        <p>to <span>buy Insurance?</span> </p>
                </div>
                <div class="rects">
                    <div class="rect-one">
                        <p class="emoji">🎉</p>
                        <p class="heading">Over 2 Lacs</p>
                        <p class="para-cont">customers trust us & have <br> bought their insurance on <br> We Insure</p>
                    </div>
                    <div class="rect-two">
                        <p class="emoji">🔍</p>
                        <p class="heading">10+ Insurers</p>
                        <p class="para-cont">partnered with us so that <br> you can compare easily & <br> transparently</p>
                    </div>
                    <div class="rect-three">
                        <p class="emoji">🤩</p>
                        <p class="heading">Great Price</p>
                        <p class="para-cont">for all kinds of insurance <br> plans available online</p>
                    </div>
                    <div class="rect-four">
                        <p class="emoji">👨‍💼</p>
                        <p class="heading">Claims</p>
                        <p class="para-cont">support built in with every <br> policy for help, when you <br> need it the most</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="agents">
                <span class="agents-cont">
                    Our Agents <br>
                    <ul>
                        <li>Jatin Mangla</li>
                        <li>Aayush Aggarwal</li>
                        <li>Nikunj Singhal</li>
                    </ul>
                </span>
            </div>
            <div class="social">
                <span class="social-cont">
                    Reach us through our Social Handles <br><br>
                    <i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;&nbsp;
                    <i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;&nbsp;
                    <i class="fa-brands fa-whatsapp"></i>&nbsp;&nbsp;&nbsp;
                    <i class="fa-brands fa-threads"></i>
                </span>
            </div>
            <div class="qur-form">
                <form action="" ng-app="myApp" name="myForm">
                    <h3>Enter Query</h3>
                    <label for="name">Name : </label>
                    <input type="text" name="nm" ng-model="userName" required><br><br>
                    <!-- <p ng-show="myForm.nm.$touched && myForm.nm.$invalid">This is a required field</p>  -->
                    <p ng-show="myForm.nm.$touched && myForm.nm.$invalid">This is a required field</p>
                    <label for="email">E-mail : </label>
                    <input type="email" name="email" ng-model="userEmail" required><br><br>
                    <!-- <p ng-show="myForm.email.$invalid && myForm.email.$touched">Please enter a valid e-mail</p> -->
                    <p ng-show="myForm.email.$invalid && myForm.email.$touched">Please enter a valid e-mail</p>
                    <label for="querry">Enter query : </label>
                    <textarea name="query" id="query" cols="20" rows="1">Type...</textarea><br>
                    <button type="button" id="foot-form-but" onclick="changeFootFormButColor()" ng-disabled="myForm.$invalid">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        let app = angular.module("myApp",[]);
    </script>
    <script src="./index.js"></script>
</body>
</html>